<div  th:fragment="common_nav" th:remove="tag">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/room}">ROOM</a>
      <p class="navbar-text" th:text="${pageTitle}"></p>
    </div>
  </div>
</div>
<div class="row message">
  <div th:if="${errors}" class="alert alert-danger">
    <p th:each="error : ${errors}">
      <span class="glyphicon glyphicon-remove"></span>
      <span th:text="${error}"></span>
    </p>
  </div>
  <div th:if="${messages}" class="alert alert-success">
    <p th:each="message : ${messages}">
      <span class="glyphicon glyphicon-ok"></span>
      <span th:text="${message}"></span>
    </p>
  </div>
</div>
</div>