
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:substituteby="include/head :: common_head"/>
  <title>ROOM | Sign in</title>
</head>
<body>
<div th:substituteby="include/nav :: common_nav"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" method="post" th:object="${loginForm}" th:action="@{/login/auth}">
        <label for="username" class="sr-only">Username</label>
        <input type="text" th:field="*{username}" id="username" class="form-control" placeholder="Username"/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="password" class="form-control" placeholder="Password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
<script th:substituteby="include/script :: common_script"></script>
</body>
</html>
