<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:substituteby="include/head :: common_head"/>
  <link th:substituteby="include/csrf :: common_csrf"/>
  <link rel="stylesheet" th:href="@{/css/room.css}"/>
  <link rel="stylesheet" th:href="@{/js/styles/github.css}"/>
  <script th:src="@{/js/highlight.pack.js}"></script>
  <title>ROOM</title>
</head>
<body>
<div th:substituteby="include/nav :: common_nav"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="well well-sm">
        <form class="form" id="room-message-form">
          <div class="form-group room-textarea">
            <textarea class="form-control" rows="3" id="room-message-body"></textarea>
          </div>
          <div class="form-group room-btn">
            <button type="button" class="btn btn-primary btn-block" id="room-send-message-btn">メッセージを送信</button>
          </div>
        </form>
      </div>
      <sction id="room-message-list"></sction>
      <p id="room-next-result"><a id="room-next-result-link" href="next" data-last-timestamp="">次の結果を表示する</a></p>
    </div>
    <div class="col-md-2 sidebar">
      <div class="page-header">
        <h5><span class="glyphicon glyphicon-user"></span> ログイン中のユーザ</h5>
      </div>
      <ul id="connected-users" class="list-group"></ul>
    </div>
  </div>
</div>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
<div id="room-loading"></div>
<script th:substituteby="include/script :: common_script"></script>
<script type="text/javascript" th:src="@{/js/stomp.js}"></script>
<script type="text/javascript" th:src="@{/js/room.js}"></script>
<script type="text/javascript" th:src="@{/js/rest-publish.js}"></script>
</body>
</html>