<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:substituteby="include/head :: common_head"/>
  <link rel="stylesheet" th:href="@{/css/room.css}"/>
  <title>ROOM</title>
</head>
<body>
<div th:substituteby="include/nav :: common_nav"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ２</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ３</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ４</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ５</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">テストユーザ１</div>
        <div class="panel-body">テストコメントです。</div>
      </div>
    </div>
    <div class="col-md-2 sidebar">
      <div class="page-header">
        <h5><span class="glyphicon glyphicon-user"></span> ログイン中のユーザ</h5>
      </div>
      <ul id="connected-users" class="list-group"></ul>
    </div>
  </div>
</div>
<script th:substituteby="include/script :: common_script"></script>
<script type="text/javascript" th:src="@{/js/room.js}"></script>
</body>
</html>